.gradient {
  background: linear-gradient(90deg, #46ab9f 0%, #56bbaf 100%);
}
.t--ptimary {
  color: #46ab9f;
}
.menu--border {
  border-bottom: 3px solid rgba(70, 171, 159, 0);
}
.menu--border:hover {
  border-bottom: 3px solid rgba(114, 196, 187, 1);
}
